{% load staticfiles %}
<link rel="stylesheet" href="/static/css/bootstrap.min.css">

<div id="top" class="clear">
    <div id="top_left">
        {% if request.user.is_authenticated %}
            <span><span class="glyphicon glyphicon-home"><a href="/" class="top_font">天猫首页</a></span></span>
            <span>Hi ,<a href="#" class="top_font">{{ request.user.username }}</a></span>
            <span><a href="#" class="top_font">积分</a></span>
            <span><a href="#" class="top_font">消息</a></span>
            <span><a href="{% url 'logout' %}" class="top_font">退出</a></span>
        {% else %}
            <span class="top_font">喵,欢迎来到天猫</span>
            <span><a href="{% url 'login' %}" class="top_font">请登录</a></span>
            <span><a href="{% url 'register' %}" class="top_font">免费注册</a></span>
        {% endif %}

    </div>
    <div id="top_right">
        <span><a href="#" class="top_font">我的淘宝</a><span class="glyphicon glyphicon-triangle-bottom"></span></span>
        <span><span class="glyphicon glyphicon-shopping-cart">
            <a href="{% url 'car_list' %}" class="top_font">购物车
            <span id="gouwucar">{% if request.user.is_authenticated %}{{ car_count }}{% else %}0{% endif %}
            </span>件
            </a>
        </span></span>
        <span><a href="#" class="top_font">收藏夹</a><span class="glyphicon glyphicon-triangle-bottom"></span></span>
        <span class="top_font">|</span>
        <span><span class="glyphicon glyphicon-phone"><a href="#" class="top_font">手机版</a></span></span>
        <span><a href="#" class="top_font">淘宝网</a></span>
        <span><a href="#" class="top_font">商家支持</a><span class="glyphicon glyphicon-triangle-bottom"></span></span>
        <span class="glyphicon glyphicon-th-list"><a href="#" class="top_font">网站导航</a><span
                class="glyphicon glyphicon-triangle-bottom"></span></span>
    </div>
</div>