<div id="top">
    <div id="top_left">
        <span class="top_font">喵,欢迎来到天猫</span>
        <span ><a href="#" class="top_font">请登录</a></span>
        <span ><a href="#" class="top_font">免费注册</a></span>
    </div>
    <div id="top_right">
        <span ><a href="#" class="top_font">我的淘宝</a><span class="glyphicon glyphicon-triangle-bottom" ></span></span>
        <span><span class="glyphicon glyphicon-shopping-cart"><a href="#" class="top_font">购物车0件</a></span></span>
        <span><a href="#" class="top_font">收藏夹</a><span class="glyphicon glyphicon-triangle-bottom"></span></span>
        <span class="top_font">|</span>
        <span><span class="glyphicon glyphicon-phone"><a href="#" class="top_font">手机版</a></span></span>
        <span><a href="#" class="top_font">淘宝网</a></span>
        <span><a href="#" class="top_font">商家支持</a><span class="glyphicon glyphicon-triangle-bottom"></span></span>
        <span class="glyphicon glyphicon-th-list"><a href="#" class="top_font">网站导航</a><span class="glyphicon glyphicon-triangle-bottom"></span></span>
    </div>
</div>